:root {
  --pirimary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --contacts-footer-color: #ffffff 60 %;
  --adress-color: #fff;
}

.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--pirimary-text-color);
}

/* Header */
/* Logo */

.main-logo {
  text-decoration: none;
}

.main-logo-footer {
  text-decoration: none;
  margin-bottom: 20px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

ul {
  list-style: none;
}

/* Навигация */

.navigation-main-paige {
  display: flex;
  align-items: center;
}

.container-header {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-links {
  display: flex;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-links .item {
  position: relative;
}

.item .current-link::after {
  content: "";

  position: absolute;
  bottom: 0px;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.nav-links .item:not(:last-child) {
  margin-right: 50px;
}

.nav-links .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  padding: 0px;
}

.contacts-list .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list .item {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list .item .icon-navigation {
  margin-right: 10px;
  fill: var(--pirimary-text-color);
}

.contacts-list .item .contacts .icon-navigation:hover {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.contacts:hover .icon-navigation,
.contacts:focus .icon-navigation {
  fill: var(--accent-text-color);
}

.contacts {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--pirimary-text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1600px;
  height: 600px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;

  margin-top: 0px;
  margin-bottom: 30px;
}

.button-hero {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/* секкции */
/* наши преймущества */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title-h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-advantages {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
  margin: 0px;
}

.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  padding-left: 0px;
}

.feature-list .item {
  width: 270px;
  height: 101px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
}

.container-advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container-advantages .icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
}

/* Чем мы занимаемся */

.section-examples {
  padding-bottom: 94px;
}

.section-title-h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.exemples-list {
  display: flex;
}

.exemples-list .item:not(:last-child) {
  margin-right: 30px;
}

.container-exemples {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.img {
  display: block;
}

.exemples-list .item {
  position: relative;
}

.exemples-box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-text {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* наша команда */

.img-team {
  display: block;
}

.section-title-main-team {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-title-team {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-team {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
  text-align: center;
  margin: 0px;
}

.text {
  color: var(--pirimary-text-color);
  margin-bottom: 0px;
}

.container-team {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  width: 270px;
  background-color: var(--adress-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-link-team {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.link-team {
  margin-right: 10px;
}

.icon-link-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-team:hover,
.icon-link-team:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 50%;
}

.link-icon:hover,
.link-icon:focus {
  fill: #fff;
}

.icon-link-team:hover .link-icon,
.icon-link-team:focus .link-icon {
  fill: #fff;
}

/* Постоянные клиенты */

.cients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
}

.clients-list {
  margin-right: 30px;
}

.clients-list:last-child {
  margin-right: 0px;
}

.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover {
  fill: var(--accent-text-color);
}

.clients-link:hover {
  background-color: var(--adress-color);
  border: solid 1px #2196f3;
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: #2196f3;
}

/* Кнопки */

.button-navigation {
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 3%;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-navigation:hover,
.button-navigation:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 1px rgba(0, 0, 0, 0.08),
    1px 3px 3px rgba(0, 0, 0, 0.1);
}

/* Портфолио */

.section-title-main {
  display: none;
  margin-top: 0px;
}

.section-title-examples {
  padding-bottom: 4px;
  margin: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: var(--title-text-color);
}

.text-examples {
  padding-top: 0px;
  margin: 0px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
}

.img-portfolio {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list .item:nth-child(-n + 3) {
  margin-top: 0px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;
  top: 100%;

  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.overlay-text {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 3%;
  color: var(--adress-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover,
.portfolio-link:focus {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.mail-footer {
  display: block;
  margin-bottom: 9px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  display: block;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}

.container-footer {
  display: flex;
  justify-items: center;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}

ul {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-links {
  display: flex;
  color: #fff;
  margin-bottom: 20px;
}

.footer-adress {
  margin-right: 70px;
}

.list-link-team-footer {
  padding: 0px;
  display: flex;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 50%;
}

.icon-link-footer:hover .link-icon {
  fill: #fff;
}

.link-team-footer {
  background-color: rgba(255, 255, 255, 0, 1);
}

.form-footer {
  display: flex;
  margin-left: 93px;
}

.mail-form-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--adress-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.mail-form-footer input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);

  padding-left: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;

  color: rgba(255, 255, 255, 0.6);
}

.mail-form-footer input::placeholder {
  color: rgba(255, 255, 255, 0, 6);
}

.form-btn-footer {
  margin-left: 12px;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: transparent;

  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  margin-left: 10px;
}

.form-btn-footer:hover,
.form-btn-footer:focus {
  background-color: #188ce8;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;

  background-color: #fff;
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-120%, 120%);

  margin: 0px;
  padding: 0px;
  border: 0px;

  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close-img {
  fill: #000;
}

.btn-close:hover {
  background-color: #ffffff;
}

.btn-close:hover .btn-close-img {
  fill: var(--accent-text-color);
}

.form {
  width: 528px;
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.form-title {
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field :nth-last-child(3) {
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1%;
}

.form-field input {
  width: 448px;
  height: 40px;
  margin: 0px;
  padding: 0px 15px 0px 42px;

  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form-img {
  position: absolute;
  bottom: 20%;
  left: 15px;
  fill: rgba(33, 33, 33, 1);
}

.form-field input:focus,
.form-field input:hover {
  outline: none;
  border-color: var(--accent-text-color);
}

.form-field input:focus + .form-img,
.form-field input:hover + .form-img {
  fill: var(--accent-text-color)
}

.form-img:hover,
.form-img:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.comment-field {
  height: 141px;
  margin-bottom: 20px;
}

.comment-field label {
  display: inline-block;
  margin-bottom: 4px;

  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1%;
}

.comment-field textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-field textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field textarea:focus {
  outline: none;
}

.checkbox {
  position: relative;

  display: flex;
  justify-content: center;

  height: 24px;

  margin-left: 16px;
  margin-bottom: 30px;
}

.checkbox label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 3%;
}

.policy-link {
  color: var(--accent-text-color);
}

.check-input {
  position: absolute;
  left: 0%;
  bottom: 10%;

  width: 16px;
  height: 15px;

  appearance: none;
}

.icon-box {
  position: absolute;
  left: 0%;
  bottom: 10%;

  background-image: url(../images/checkbox-off.svg);

  width: 16px;
  height: 15px;
}

.check-input:checked + .icon-box {
  background-image: url(../images/checkbox-on.svg);
}

.button-submit {
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
